.header {
  display: grid;
  grid-template-columns: 5fr 2fr 0.8fr;
  grid-column-gap: 1px;
  align-items: center;

  h1 {
    color: $athens-gray;
  }

  &-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 9px;

    &__input {
      position: relative;
      margin-right: 26px;
    }
  }

  img {
    border: 2px solid  $santas-gray;
    border-radius: 5px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    &-bar__input {
        display: flex;
        justify-content: center;
        margin-right: 0;

        svg {
            right: 18px;
        }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .header {
    grid-template-columns: 1fr 2fr 0.8fr;
  }
}